<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-body">

      <p>
        Tooltip Bro is a tooltip editor enabling Advera Health analysts to easily create, edit, and delete AdverseEvents Explorer tooltips.
        Use the "Search tooltip" input field to pull up one or multiple tooltips by name or defintion. Use the "Search module" input field
        to pull up all of the tooltips associated with a particular module (ex/ for the Drug RxCost module search "drugs.detail.costs").
      </p>
      <p>
        To edit a term or definition, simply click on the text that you'd like to edit, then hit enter or click the check box when you've made
        your changes. To delete, click the trash can icon to the right of the definition. To create a new tooltip, hit the "Add Tooltip" button,
        then select a module, add a term, and definition.
      </p>
      <p>
        Tooltip Bro was built using Rails 4 to create a modular backend REST API. The front-end is AngularJS 1.3 which handles the JSON API. Built
        with Bootstrap 3, and some handy gems and packages including <a href="http://vitalets.github.io/x-editable/docs.html">xeditable</a>
        for inline editing and <a href="https://github.com/mgonto/restangular">Restangular</a> for API interaction.

    </div>
  </div>
</div>
