<p>
  Tooltip Bro is a tooltip editor enabling Advera Health analysts to easily create, edit, and delete AdverseEvents Explorer tooltips.
  Use the "Search tooltip" input field to pull up one or multiple tooltips by name or defintion. Use the "Search module" input field
  to pull up all of the tooltips associated with a particular module (ex/ for the Drug RxCost module search "drugs.detail.costs").
</p>
<p>
  To edit a term or definition, simply click on the text that you'd like to edit, then hit enter or click the check box when you've made
  your changes. To delete, click the trash can icon to the right of the definition. To create a new tooltip, hit the "Add Tooltip" button,
  then select a module, add a term, and definition.
</p>
