<div class="col-md-12">
  <div class="row">
    <div class="form-group col-md-6">
      <input class="form-control" placeholder="search tooltip" type="text" ng-model="searchText" />
    </div>

    <!-- modal -->
    <div ng-controller="ModalDemoCtrl">
      <script type="text/ng-template" id="myModalContent.html">

          <div class="modal-header">
              <h3 class="modal-title">Create a Tooltip</h3>
          </div>
            <div class="modal-body">
                <div class="form-group">

                  <div class="modal-row">
                    <div class="btn-group" dropdown is-open="status.isopen">
                      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                        {{ newTooltip.tooltip.state_name || "Select a Module" }} <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="state in states"><a class="pointer-link" ng-click="selectState(state.name)">{{state.name}}</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="modal-row">
                    <input class="form-control" type="text" ng-model="newTooltip.tooltip.term" placeholder="term" required="true" />
                  </div>

                  <div class="modal-row">
                    <textarea class="form-control" type="password" ng-model="newTooltip.tooltip.definition" placeholder="definition" required="true" />
                  </div>

                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" ng-click="ok()">Create</button>
                <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
            </div>
      </script>
      <div class="col-md-6">
        <button class="btn btn-md btn-success" ng-click="open('sm')">Add Tooltip</button>
      </div>
    </div>
    <!-- modal end -->

  </div>
</div>

<div class="col-md-12">
  <div ng-repeat="state in states">
    <div ng-if="state.tooltips[0]" class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">{{state.name}} Tooltips</div>

      <!-- Table -->
      <table class="table">
        <thead>
          <th>Term</th>
          <th>Definition</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="tooltip in state.tooltips | filter:searchText">
            <td class="col-md-3">{{tooltip.term}}</td>
            <td class="col-md-8">{{tooltip.definition}}</td>
            <td class="col-md-1"><i class="fa fa-trash-o"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
